body{
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
}

.container{
  max-width: 1270px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* HEADER */
.header-top{
  height: 80px;
  line-height: 80px;
}

ul.navbar-link li,
ul.navbar-language li{
  display: inline-block;
  padding-right: 10px;
}

ul.navbar-link li a,
ul.navbar-language li a {
  color: #343434;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

.header-top .logo {
  vertical-align: middle;
}

 ul.navbar-language :not(:last-child) a {
  border-right: 2px solid black;
  padding-right: 10px;
}

/* Jumbotron */
.jumbotron {
  background-image: url('../img/hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
}

.jumbotron h1 {
  font-size: 32px;
}

.jumbotron p {
  margin: 10px 0;
}

.jumbotron .intro{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: #fff;
  width: 100%;
}

@media screen and (max-width: 992px){
  .jumbotron h1 {
    font-size: 26px;
  }
}





/* END CSS */
