body{
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
}

.container{
  max-width: 1270px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* HEADER */
.header-top{
  height: 80px;
  line-height: 80px;
}

ul.navbar-link li,
ul.navbar-language li{
  display: inline-block;
  padding-right: 10px;
}

ul.navbar-link li a,
ul.navbar-language li a {
  color: #343434;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

.header-top .logo {
  vertical-align: middle;
}

 ul.navbar-language :not(:last-child) a {
  border-right: 2px solid black;
  padding-right: 10px;
}

/* Jumbotron */
.jumbotron {
  background-image: url('../img/hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
}

.jumbotron h1 {
  font-size: 32px;
}

.jumbotron p {
  margin: 10px 0;
}

.jumbotron .intro{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: #fff;
  width: 100%;
}

@media screen and (max-width: 992px){
  .jumbotron h1 {
    font-size: 26px;
  }
}

/* SEZIONE PRODOTTI */

#products .row{
  background-color: #fff;
}

#products .row .row [class*="col-"]{
  padding: 20px;
}

#products img{
  max-width: 80%;
}

#products .row .row h2{
  padding-top: 50px;
  font-size: 35px;
}
#products .row .row h3{
  font-size: 25px;
}

#products .row .row h3 {
  padding: 20px 0;
}

#products .row .row a{
  color: #020bff;
  font-weight: bold;
}

#products .margin-product{
  background-color: #fafafa;
}

@media screen and (max-width: 992px){
  #products .container .row h2{
    font-size: 25px;
  }
}

@media screen and (max-width: 992px){
  #products .container .row h3{
    font-size: 15px;
  }
}


/* STEPS */

.relative-col{
  position: relative;
  height: 200px;
}

.bckg-man{
  height: 400px;
  background-image: url('../img/index-banner.1f6fd0a.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

@media screen and (max-width: 1240px){
  .bckg-man {
    background-position: center;
  }
}

#steps .row h3{
  font-size: 25px;
  margin-left: 50px;
}


#steps .row img{
height: 500px;
position: absolute;
bottom: 0;
left: 20%;
}

#steps .row h5{
  font-size: 15px;
  font-weight: 600;
}


@media screen and (max-width: 992px){
  #steps .row h3 {
    text-align: left;
  }

}


@media screen and (max-width: 768px){
  #steps .pt-100{
  padding-top: 30px;
 }

  #steps .row h5 , h6{
    margin-left: 50px;
  }

}

@media screen and (max-width: 420px){

  #steps .pt-100{
  padding-top: 10px;
 }
}
/* MOBILITY */


#mobility .row {
  height: 400px;
  background-image: url('../img/scooter.f0a0397.jpg');
  background-size: cover;
  color: #fff;
}

#mobility .row h2{
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 2px;

}

#mobility .row h4{
  line-height: 1.6;
  margin-bottom: 10px;
}

#mobility .row a{
  color: #fff;
  font-weight: bold;
}

@media screen and (max-width: 768px){
  #mobility .row{
    background-position: right;
  }
}

/* #mobility .row .col-lg-6{
  padding: 0 20px;
} */


/* APP */

#app .row{
  background-color: #fff;
  color: #fff;
}

#app .row .row [class*="col-"]{
  padding: 20px;
}

#app .row .row h2{
  padding-top: 50px;
  font-size: 35px;
}
#app .row .row h3{
  font-size: 25px;
}

#app .row .row h3 {
  padding: 20px 0;
}

#app .row .row a{
  color: #fff;
  font-weight: bold;
  padding: 0 5px;
}

#app .app-container{
  height: 448px;
  background: linear-gradient(#3f5467, #2a3742);
  /* background-color: #2a3742; */
  /* #3f5467 */
}

#app .crop-img {
  object-fit: cover;
  object-position: 100% 0;
  width: 480px;
  height: 230px;
}

#app .img-padding{
  padding-top: 25px;
}

#app .lake-city{
  height: 448px;
  background-image: url('../img/city.7c8c928.jpg');
  background-size: cover;
}

@media screen and (min-width: 768px) and (max-width: 992px){
  #app .crop-img {
    object-fit: cover;
    object-position: 100% 0;
    width: 350px;
    height: 170px;
  }

  #app .img-padding{
    padding-top: 85px;
  }
}

@media screen and (max-width: 768px){
  #app .row .row h3{
    font-size: 20px;
  }
  #app .img-padding{
    padding-top: 92px;
  }
}

@media screen and (max-width: 420px){
  #app .crop-img {
    object-fit: cover;
    object-position: 100% 0;
    width: 270px;
    height: 130px;
  }

  #app .img-padding{
    padding-top: 132px;
  }
}

@media screen and (max-width: 380px){
  #app .crop-img {
    object-fit: cover;
    object-position: 100% 0;
    width: 270px;
    height: 130px;
  }

  #app .img-padding{
    padding-top: 105px;
  }
}



/* FAMILY */

#family{
  color: #000;
}

#family .container-family {
  background-image: url('../img/family.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: relative;
}

#family .container-family h2 {
  margin-top: 60px;
  font-size: 32px;
  text-transform: capitalize;
}

#family .container-family a {
  padding: 0 15px;
  font-size: 35px;
  color: #000;
}

#family .margin-a-family{
  margin-bottom: 60px;
}

#family .container-family .social{
  position: absolute;
  width: 32%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
}

@media screen and (max-width: 992px){
  .container-family h2 {
    font-size: 26px;
  }
}

@media screen and (max-width: 768px){
  #family .container-family .social{
    width: 50%;
  }
}

@media screen and (max-width: 420px){
  #family .container-family .social{
    width: 80%;
  }
}


/* /FOOTER */

footer{
  color: #fff;
  background-color: #000;
}

footer hr{
height:1px;
border-width:0;
color:#121212;
background-color:#121212;
margin: 20px 0;
}

footer .row.margin-bt{
  padding: 50px 0;
}

footer .row h2{
  letter-spacing: 5px;
  text-transform: uppercase;
}

footer .row h4{
  padding: 10px 0;
  text-transform: uppercase;
}

footer .row ul li a{
  color: #6a6a6a;
  font-weight: bold;
line-height: 2.2;
}

footer .row ul li a:hover{
  color: #66c4d0
}

footer .row i{
  font-size: 20px;
  padding-right: 20px;
}

footer .row hr{
  color: #6a6a6a;
}

footer .row .hr-top{
  margin-bottom: 80px;
}

footer .row .hr-bottom{
  margin-top: 100px;
}

/* END CSS */
